* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5%;
  padding: 0;
}

.img--center {
  display: block;
  margin: 0 auto;
}